body {
    background-color: #eeb9b9;
}

header {
    background-color: rgb(77, 5, 53);
}

nav {
    background-color: rgb(228, 131, 191);
}

#intro {
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
}

.main-section-content h2 {
    background-color: rgb(212, 83, 158);
    font-family: 'Times New Roman', Times, serif;
}

#bestsellers,
footer {
    background-color: rgb(218, 124, 160);
}

header,
nav,
#intro,
#main-section,
#bestsellers,
footer {
    border: 1px solid black;
}

header,
nav,
#main-section {
    border-radius: 10px;
}

header h1 {
    color: rgb(12, 11, 11);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2,
p {
    color: #380505;
}

table,
th,
td {
    border: 1px solid black;
}

tr:last-child {
    color: red;
}

span {
    color: rgb(211, 64, 174);
}

footer p:first-child span {
    color: rgb(133, 10, 92);
}

.teacher-info {
    border: 1px solid;
    border-radius: 5px;
}

button {
    background-color: rgba(255, 0, 128, 0.521);
    color: white;
}